In [20]:
import pandas as pd
import yfinance as yf
from tqdm.notebook import tqdm

In [2]:
df = pd.read_excel('dataset.xlsx')

In [3]:
df.head()

,Category,ISIN,label,Yf Tracker,Name Yf,Category.1
0,Comp A,FR0000120404,ACCOR,AC.PA,Accor SA,Lodging
1,Comp A,FR0010340141,ADP,ADP.PA,Aéroports de Paris SA,"Air Services, Other"
2,Comp A,FR0000031122,AIR FRANCE - KLM,AF.PA,Air France-KLM SA,Major Airlines
3,Comp A,FR0000120073,AIR LIQUIDE,AI.PA,"Air Liquide, société anonyme",Chemicals - Major Diversified
4,Comp A,FR0004180537,AKKA TECHNOLOGIES,AKA.PA,Akka Technologies,Business Services

In [22]:
for i, line in tqdm(df.iterrows(), total = df.shape[0]):
    label = line['label']
    code = line['Yf Tracker']
    
    ticker = yf.Ticker("ADP.PA")
    hist = ticker.history(period="21y", interval = '1d')
    
    hist.to_csv('./yf daily/'+label+'.csv', sep = ';', index = False)

HBox(children=(FloatProgress(value=0.0, max=143.0), HTML(value='')))

In [11]:


msft = yf.Ticker("ADP.PA")

# get stock info
print(msft.info)

# get historical market data
hist = msft.history(period="21y", interval = '1d')

{'zip': '93290', 'sector': 'Industrials', 'fullTimeEmployees': 24457, 'longBusinessSummary': 'Aeroports de Paris SA designs, constructs, and operates airports. The company operates through five segments: Aviation, Retail and Services, Real Estate, International and Airport Developments, and Other Activities. It owns and operates Paris-Charles de Gaulle, Paris-Orly, and Paris-Le Bourget airports; Issy-les-Moulineaux heliport; and 10 general aviation airfields in France. The company is also involved in retail activities offering services through shops, bars and restaurants, and banks and exchange counters, as well as in the provision of advertising and catering, terminal rental, car parking and access, car rental, and industrial services. In addition, it owns, develops, invests in, and manages real estate properties, such as lands and buildings. It also offers airport management and engineering services; and telecom operator services and cybersecurity services, as well as traceability and mobility solutions of goods. Aeroports de Paris SA was founded in 1945 and is based in Tremblay-en-France, France.', 'city': 'Tremblay-en-France', 'phone': '33 1 74 25 67 00', 'country': 'France', 'companyOfficers': [], 'website': 'http://www.parisaeroport.fr', 'maxAge': 1, 'address1': '1 Rue de France', 'industry': 'Airports & Air Services', 'previousClose': 92, 'regularMarketOpen': 90.85, 'twoHundredDayAverage': 118.90603, 'trailingAnnualDividendYield': 0.040217392000000005, 'payoutRatio': 0.6218, 'volume24Hr': None, 'regularMarketDayHigh': 92.65, 'navPrice': None, 'averageDailyVolume10Day': 97109, 'totalAssets': None, 'regularMarketPreviousClose': 92, 'fiftyDayAverage': 96.995834, 'trailingAnnualDividendRate': 3.7, 'open': 90.85, 'toCurrency': None, 'averageVolume10days': 97109, 'expireDate': None, 'yield': None, 'algorithm': None, 'dividendRate': 3.7, 'exDividendDate': 1591574400, 'beta': 1.18372, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 89.1, 'priceHint': 2, 'currency': 'EUR', 'trailingPE': 15.29788, 'regularMarketVolume': 122847, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 8994045952, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 128734, 'priceToSalesTrailing12Months': 1.9136267, 'dayLow': 89.1, 'ask': None, 'ytdReturn': None, 'askSize': None, 'volume': 122847, 'fiftyTwoWeekHigh': 181.5, 'forwardPE': None, 'fromCurrency': None, 'fiveYearAvgDividendYield': 2.33, 'fiftyTwoWeekLow': 70.7, 'bid': None, 'tradeable': False, 'dividendYield': 0.0402, 'bidSize': None, 'dayHigh': 92.65, 'exchange': 'PAR', 'shortName': 'ADP', 'longName': 'Aeroports de Paris SA', 'exchangeTimezoneName': 'Europe/Paris', 'exchangeTimezoneShortName': 'CEST', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '7200000', 'quoteType': 'EQUITY', 'symbol': 'ADP.PA', 'messageBoardId': 'finmb_874778', 'market': 'fr_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 3.292, 'beta3Year': None, 'profitMargins': 0.12511, 'enterpriseToEbitda': 8.498, '52WeekChange': -0.4324491, 'morningStarRiskRating': None, 'forwardEps': None, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 98944400, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'bookValue': 50.849, 'sharesShort': None, 'sharesPercentSharesOut': None, 'fundFamily': None, 'lastFiscalYearEnd': 1577750400, 'heldPercentInstitutions': 0.13835, 'netIncomeToCommon': 533000000, 'trailingEps': 5.942, 'lastDividendValue': None, 'SandP52WeekChange': 0.050325513, 'priceToBook': 1.7876458, 'heldPercentInsiders': 0.68305, 'nextFiscalYearEnd': 1640908800, 'mostRecentQuarter': 1577750400, 'shortRatio': None, 'sharesShortPreviousMonthDate': None, 'floatShares': 26347271, 'enterpriseValue': 15474375680, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.165, 'dateShortInterest': None, 'pegRatio': None, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': None, 'category': None, 'fiveYearAverageReturn': None, 'regularMarketPrice': 90.85, 'logo_url': 'https://logo.clearbit.com/parisaeroport.fr'}

In [18]:
hist.to_csv('./yf/test.csv', sep = ';', index = False)

In [19]:
hist

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2006-06-19  33.65  33.88  32.81  33.66  642515        0.0             0
2006-06-20  33.39  35.10  33.39  34.99  638696        0.0             0
2006-06-21  35.24  35.24  34.85  35.06  336292        0.0             0
2006-06-22  35.21  35.24  34.77  34.77  243057        0.0             0
2006-06-23  34.88  34.96  34.17  34.27  175756        0.0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-07-08  93.05  93.05  90.95  92.20  104204        0.0             0
2020-07-09  92.10  93.25  89.50  91.35  125911        0.0             0
2020-07-10  90.05  92.75  89.60  92.75   86860        0.0             0
2020-07-13  93.25  94.80  91.20  92.00  109764        0.0             0
2020-07-14  90.85  92.65  89.10  90.90  122847        0.0             0

[3597 rows x 7 columns]

In [ ]:
help(msft.history)

In [ ]:
hist = msft.history(period="5y", interval = '1d')

In [ ]:
hist

In [ ]:
a = list(msft.info.keys())
a.sort()
a

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(hist.index, hist['Dividends'].values)

In [ ]:
import matplotlib.pyplot as plt
import seaborn

In [ ]:
hist['Close'].plot(figsize=(16, 9))

In [ ]:
data_df = yf.download("AAPL", start="2020-02-01", end="2020-03-20")

In [ ]:
data_df

In [ ]:
hist.to_csv('test.csv', sep = ';')

In [ ]:
import pandas_datareader as web

f = web.DataReader('ticker=CPIFR', 'econdb', start = '2000/01/01')

In [ ]:
help(web.DataReader)

In [ ]:
from pandas_datareader.famafrench import get_available_datasets
get_available_datasets()

In [ ]:
f.iloc[100:150].head(50)

In [ ]:
def send_email(subject, message):
    import email
    import smtplib

    msg = email.message_from_string(message)
    msg["From"] = "gab.olympie@hotmail.fr"
    msg["To"] = "gab.olympie@hotmail.fr"
    msg["Subject"] = subject

    s = smtplib.SMTP("smtp.live.com",587)
    s.ehlo() # Hostname to send for this command defaults to the fully qualified domain name of the local host.
    s.starttls() #Puts connection to SMTP server in TLS mode
    s.ehlo()
    s.login("gab.olympie@hotmail.fr", "Tjxlq4sebbpias")

    s.sendmail("gab.olympie@hotmail.fr", ["gab.olympie@hotmail.fr" ], msg.as_string())

    s.quit()

In [ ]:
for i in range(10):
    send_email('subject '+str(i), 'this is the '+str(i)+' test in a row' )